body{
  font-family: sans-serif;
  font-size: 14px;
}
p{
  color: rgb(114, 111, 111);
}
.card-div{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08)0px 0px 0px 1px;
  width: 350px;
  
}
.card-img{
  width: 100%;
}
.content-div{
  /* padding: 3.2rem 1.2rem; */
  margin: 10px;
  line-height:25px;
}
button:hover{
  opacity: 0.5;
}
.green{
  background-color: rgb(128, 202, 128);
  padding: 5px 15px;
  border-radius: 50px;
}
.yellow{
  background-color: #f7dc6f;
  padding: 5px 15px;
  border-radius: 50px;
}